* {
    padding: 0;
    margin: 0;
}
/*-------TIPOGRAFIA------*/
@font-face {
    font-family: "CreteRound-Regular";
    src: url("../Fonts/CreteRound-Regular.otf"); /*TITULO*/
}
@font-face {
    font-family: "SF_Collegiate_Solid";
    src: url("../Fonts/SF_Collegiate_Solid.ttf"); /*SUB-TITULO*/
}
@font-face {
    font-family: "Walkway_Oblique_Bold";
    src: url("../Fonts/Walkway_Bold.ttf"); /*TEXTO importante de la pagina*/
}
/*-------Barra de Menu-------*/

header {
    background-color: #016392;
}
.nav-item {
    background-color: #fff;
}
.lgoauto {
    height: 100px;
    width: auto;
}
.nav-link {
    font-family: "SF_Collegiate_Solid";
    text-transform: uppercase;
    list-style-type: none;
    color: black;                
}
.nav-link:hover {
    color: #73A9AD
}
/*------ CARROUSEL ------- */
.carrouselSection {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.carrouselTamaño {
    height: 70%;
    width: auto
}
.fotoCarrusel{  
    height: 500px;
    width: auto;
}
/* ----------- INICIO ----------- */ 
/*---- GRILLA OFERTAS DESTACADAS ----*/
body {
    background-color: #fff;
}
/*------Contenedor Caja Padre Grid------*/
.columnaGridPrincipal {
    display: grid;
    width: 90%;
    height: auto;  
    gap: 1rem;
    justify-content: center;

    grid-template-columns: 30% 15% 30% 15%;
    grid-template-rows: 100px 450px 200px 40px 100px 200px;  
    
    grid-template-areas:
    
    "tituloGrilla tituloGrilla tituloGrilla tituloGrilla"
    "contenedorFoto1 contenedorImagenes contenedorFoto2 contenedorImagenes2"
    "contenedorTextoAuto contenedorTextoAuto contenedorTextoAuto2 contenedorTextoAuto2"
    "0 0 0 0"
    "tituloUIncorporaciones tituloUIncorporaciones tituloUIncorporaciones tituloUIncorporaciones"
    "containerIncorporacionesflex containerIncorporacionesflex containerIncorporacionesflex containerIncorporacionesflex";
}
/*-----Contenedor Cajas Hijas Grilla----*/
.tituloGrilla {
    grid-area: tituloGrilla;
    background-color: #016392;
}
.contenedorFoto1 {
    grid-area: contenedorFoto1;
}
.contenedorImagenes {
    grid-area: contenedorImagenes;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 
.contenedorFoto2 {
    grid-area: contenedorFoto2;
}
.contenedorImagenes2 {
    grid-area: contenedorImagenes2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}  
.centrado {
    /* COMBINANDO GRID CON FLEXBOX */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF_Collegiate_Solid";
    letter-spacing: 5px; 
}
.columnaGridPrincipal {
    border-color: 2px solid red;
    height: 600px;
    width: auto;
    justify-content: center;
}
.cocheGrande {
    display: flex;
    height: 400px;
    width: auto;
}
.cocheChico {
    display: flex;
    height: 200px;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
}
/*---- Grilla Descripcion AUTOS ---- */
.contenedorTextoAuto {
    grid-area: contenedorTextoAuto;
    width: auto;
    height: 200px;
    background-color: #231f20;
    color: #fff;
    border: 5px solid #025464;
}
.listaDestacada {
    font-family: "Walkway_Oblique_Bold";
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap ;
}
.contenedorTextoAuto2 {
    grid-area: contenedorTextoAuto2;
    width: auto;
    height: auto;
    background-color: #231f20;
    color: #fff;
    border: 5px solid #025464;
}
.containerIncorporacionesflex {
    width: 100%;
    height: auto;
    grid-area: containerIncorporacionesflex;
    display: flex;
    background-color: #231f20;
    overflow: hidden;
}
.tituloUIncorporaciones {
    grid-area: tituloUIncorporaciones;
    background-color: #016392;
}
.containerIncorporaciones {
    display: flex;
    max-width: 100%;
}
.incorporacionesImagen {
    display: flex;
    height: 250px;
    margin: 1px;
    max-width: auto;
}
/*---- FOOTER ---- */
.footer{
    grid-area: footer;
    max-width: 500px;
    width: 100%;
    background-color: #231f20;
}
/*----- ENLACE CLIENTES / ENLACE COMPRAS ----- */
.tituloClientes , .tituloCompra{
    width: 90%;
    font-family: "SF_Collegiate_Solid";
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: #231f20;
    color: #fff;
    margin: 10px 5% 1px 5%;     
    letter-spacing: 5px;
}
/*----- CAJA FLEX clientes y compra ----- */
.cajaFlex {
    width: 90%;
    height: auto;
    margin: auto;
    background-color: #016392;
    padding: 10px;  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.clientes{
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 10px; 
}
.compra {
    width: 300px;
    height: 301px;
    margin: 50px;
    transition: width, background-color, .1s linear .1s; 
}
.compra:hover {
    width: 500px;
    background-color: #3F4E4F;
    transition:  1s linear 1s;
}

.fotoClientes , .fotoAutos{
    width: 300px;
    height: auto;
    background-color: #3F4E4F;
    padding: 10px;
    margin: auto;

} 
/* ----- ENLACE GESTORIA / ENLACE CONTACTO ----*/
.tituloContacto , .tituloGestoria {
    width: 70%;
    font-family: "SF_Collegiate_Solid";
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: #231f20;
    color: #fff;
    margin: 10px 5% 1px 15%;     
    letter-spacing: 5px;    
}
.infoGestoria {
   font-family: "Walkway_Oblique_Bold";
   justify-content: start;
   font-size: 20px;

}

/* ------ contacto y gestoria -----*/
.imgGestoria, .imgContacto  {
    height: 500px;
    width: auto;
}
.listNone {
    list-style: none;
}
/*------- MEDIA QUERIES SWICH MOVIL -----*/
@media screen and (max-width: 767px) {
  /* SWITCH PARA CAMBIAR OCULTO/VISIBLE MENU MOBILE */
  .displaySwitch {
    display: flex;
    }

    /********* CARROUSEL *********/
    .fotoCarrusel  {
        height: 180px;
        width: auto;
    }

    /********* CONTENEDOR GRID *********/
    .columnaGridPrincipal {
        display: block;
    }
    .contenedorImagenes , .contenedorImagenes2 {
        display: none;
    }
    .cocheGrande {
        width: 300px;
        height: auto;
    }
    .containerIncorporacionesflex {
        display: block;
        overflow: visible;
    }
    .containerIncorporaciones{
        align-items: center;
        justify-content: center;
    }
    .incorporacionesImagen  {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .p {
        font-size: 10px;
    }
    
    /***COMPRA y CLIENTES****/
    .cajaFlex {
        display: flex;
        height: auto;
        width: auto;
    }  
    .compra {
        width: 300px;
        height: 301px;
        margin: 50px;
        transition: height, background-color, .1s linear .1s; 
    }
    .compra:hover {
        height: 450px;
        background-color: #3F4E4F;
        transition:  1s linear 1s; 
    }
   .fotoClientes , .fotoAutos {
        display: flex;
        height: 250px;
        width: auto;
        margin: 20px;
   }
    /***CONTACTO Y GESTORIA ****/
    .imgGestoria , .imgContacto{
        height: auto;
        width: auto;
    }
    .tituloGestoria {
       letter-spacing: 0;
       align-items: center;
       justify-content: center;
    }
    .infoGestoria {
        font-size: auto;
    }
    

}
/*------- MEDIA QUERIES TABLET -----*/
@media screen and (min-width: 767px) and (max-width:1024px){
    /* SWITCH PARA CAMBIAR OCULTO/VISIBLE MENU MOBILE */
    .displaySwitch {
      display: flex;
      }
      .columnaGridPrincipal {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 150px 200px 120px 200px 120px 60px 150px 200px;
        grid-template-areas:
            "tituloGrilla tituloGrilla"
            "contenedorFoto1 contenedorImagenes"
            "contenedorTextoAuto contenedorTextoAuto "
            "contenedorFoto2 contenedorImagenes2"
            "contenedorTextoAuto2 contenedorTextoAuto2"
            "0 0"
            "tituloUIncorporaciones tituloUIncorporaciones"
            "containerIncorporacionesflex containerIncorporacionesflex";
   }
       /********* CARROUSEL *********/
       .fotoCarrusel  {
        height: 200px;
        width: auto;
    }
   .contenedorImagenes , .contenedorImagenes2 , .contenedorFoto1 , .contenedorFoto2 {
    display: flex;
    align-items: center;
    display: center;
   }
   .cocheGrande {
    height: auto;
    width: 60%;
   }
   .contenedorTextoAuto {
    height: 120px;
    width: auto;
   }
   /******* CLIENTES ******/ 
   .fotoClientes {
    height: auto;
    width: 60%;
   }

}  